@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	font-family: 'Raleway', sans-serif;
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	
	background-image: url("../images/lion.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container .zoo-logo {
	position: absolute;
	width: 160px;
	height: 80px;
	
	bottom: 30px;
}


.container .login-wrap {
	position: absolute;
	width: 600px;
	height: 740px;
	background-color: rgba(0, 0, 0, 0.5);
	right: 50px;
	top: 50px;
	border-radius: 10px;
}

.container .login-wrap .login-contents {
	margin-left: 70px;
	margin-right: 70px;
}

.container .login-wrap .login-contents .zoo-logo2 {
	width: 160px;
	height: 80px;
	
	margin-top: 30px;
	margin-left: -30px;
	font-size: 0;
}

.container .login-wrap .login-contents .title {
	font-size: 50px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 50px;
}

.container .login-wrap .login-contents .info-txt {
	font-size: 20px;
	font-weight: 300;
	float: left;
}

.container .login-wrap .login-contents .email-form {
	overflow: hidden;
	margin-bottom: 26px;
	
	border-bottom: 1px solid white;
	transition: 0.2s;
}

.container .login-wrap .login-contents .email-form:hover {
	border-color: #fc8914;
	transform:scale(1.1);
	transition: 0.2s;
}

.container .login-wrap .login-contents .email-form:hover .fa-user {
	color: #fc8914;
	transition: 0.2s;
}

.container .login-wrap .login-contents .email-form input {
	background-color:transparent;
	outline: none;
	border: none;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	
	margin-bottom: 10px;
}

.container .login-wrap .login-contents i {
	float: left;
	margin-right: 50px;
}

.container .login-wrap .login-contents .email-form .fa-user {
	font-size: 24px;
	transition: 0.2s;
}

.container .login-wrap .login-contents .lock-form {
	overflow: hidden;
	
	border-bottom: 1px solid white;
	transition: 0.2s;
}

.container .login-wrap .login-contents .lock-form:hover {
	border-color: #fc8914;
	transform:scale(1.1);
	transition: 0.2s;
}

.container .login-wrap .login-contents .lock-form:hover .fa-lock {
	color: #fc8914;
	transition: 0.2s;
}

.container .login-wrap .login-contents .lock-form input {
	background-color:transparent;
	outline: none;
	border: none;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	
	margin-bottom: 7px;
}

.container .login-wrap .login-contents .lock-form .fa-lock {
	font-size: 26px;
	transition: 0.2s;
}

.container .login-wrap .login-contents .remember-form {
	position: relative;
	height: 16px;
	margin-top: 14px;
}

.container .login-wrap .login-contents .remember-form #chk {
	position: absolute;
	width: 16px;
	height: 16px;
}

.container .login-wrap .login-contents .remember-form #chk {
	accent-color: #47753b;
	/* checkbox 색상 변경하기 */
}

.container .login-wrap .login-contents .remember-form label {
	position: absolute;
	margin-left: 40px;
	font-size: 16px;
	font-weight: 200;
	vertical-align: middle;
}

.container .login-wrap .login-contents .remember-form label:hover {
	cursor: pointer;
}


.container .login-wrap .login-contents .login-btn {
	margin-top: 55px;
	height: 50px;
	background-color: #47753b;
	border-radius: 33px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	font-weight: 300;
	
	transition: all 0.5s;
}

.container .login-wrap .login-contents .login-btn:hover {
	background-color: #ed7f13;
	transition: 0.5s;
}

.container .login-wrap .login-contents .find {
	margin-top: 12px;
	text-align: center;
	font-size: 16px;
	font-weight: 200;
}

.container .login-wrap .login-contents .find:hover {
	text-decoration: underline;
}

.container .login-wrap .login-contents .sign-form {
	overflow: hidden;
	margin-top: 60px;
	height: 100px;
}
.container .login-wrap .login-contents .sign-form .sign-txt {
	float: left;
	line-height: 75px;
	font-size: 26px;
	font-weight: 200;
}
.container .login-wrap .login-contents .sign-form .icons {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.container .login-wrap .login-contents .sign-form .icons img {
	width: 50px;
	height: 50px;
	margin-left: 10px;
	transition: 0.2s
}

.container .login-wrap .login-contents .sign-form .icons .naver:hover {
	transform: scale(1.3);
	transition: 0.2s
}

.container .login-wrap .login-contents .sign-form .icons .google:hover {
	transform: scale(1.3);
	transition: 0.2s
}

.container .login-wrap .login-contents .sign-form .icons .face:hover {
	transform: scale(1.3);
	transition: 0.2s
}

